*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.box{
    width: 80%;
    height: 450px;
    background-color:rgb(71, 71, 71);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
     /* position: absolute;
    right: 0;
    bottom: 200px;  */
    position: relative;
    z-index: ;
    
}

.Container{
    width: 150px;
    height: 150px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
     position: fixed ;
    top: 0;
} 